@keyframes showOn {
  from {opacity: 0;
        visibility: hidden;}
  to {opacity: 1;
    visibility: visible;}
}

.modal_activ {
  visibility: visible;
  display: flex;
  animation: showOn .5s linear;
  opacity: 1;
}
