@keyframes openMod {
  from { opacity: 0; }
    to { opacity: .5; }
}


.modal {
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: openMod .2s;
  animation: openMod .2s;
}
