.profile__subtitle-name {

  font-size: 1.1rem;
  line-height: 1.25;
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 690px) {
  .profile__subtitle-name {
    text-align: center;
    margin: 14px auto 0;
  }
}