.loading__button {
  display: none;
  justify-content: center;
  width: 100%;
  min-height: 30px;
  background: #000000;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  border-top: 1px solid white;
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.25;
  transition: .5s ease-in-out;
  outline: none;
  padding: 0;
}

.loading__button:hover {
  transition: .5s ease-in-out;
  background-color: rgba(243, 104, 104, 0.8);
}
